<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ if hugo.IsProduction | or (eq .Site.Params.env "production") }}
    <meta name="robots" content="index, follow">
{{ else }}
    <meta name="robots" content="noindex, nofollow">
{{ end }}

{{/* Title */}}
<title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ .Title }}</title>

{{/* Meta */}}
{{ if .IsHome }}
    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}" />{{ end }}
{{ else }}
    <meta name="keywords" content="{{ if .Params.keywords }}
    {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} {{ else }}
    {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} {{ end }}" />
{{ end }}
<meta name="title" content="{{ .Title }}">
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta name="author" content="{{ $.Site.Params.author }}">
<link rel="canonical" href="{{ if .Params.canonicalURL }} {{ trim .Params.canonicalURL " " }} {{ else }} {{ .Permalink }} {{ end }}" />