<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    {{- partial "header.html" . -}}
    <main id="{{ if (( .Params.slug )) }}{{- printf "%s" $.Params.slug -}}{{- else if .IsHome }}home{{ end -}}" class="container">
    {{- block "main" . }}{{- end }}
    </main>
  </body>
  {{- partial "footer.html" . -}}
  {{ partial "scripts.html" . }}
</html>
