.firstpart
  font-family: cursive
  color: var(--brandgreen)

.lastpart
  font-family: cursive
  color: var(--brandorange)

.bot
  unicode-bidi: bidi-override
  direction: rtl
  text-align: left

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none !important
  margin: 0 !important

input[type=number]
  -moz-appearance:textfield !important
