footer
  padding-top: 5px
  padding-bottom: 5px
  text-align: center
  background-color: var(--bg-main)
  border-top-left-radius: var(--bs-border-radius-xl)
  border-top-right-radius: var(--bs-border-radius-xl)
