h2
  text-align: center
  margin-top: 25px;

.row
  text-align: center

  &.fediverse

    .card
      min-height: 175px

  &.tools

    .card
      min-height: 200px

  .card
    background: transparent
    border: none
    padding: 0.5em 1.75em 0.5em 1.5em
    cursor: pointer

    a,
    a:hover
      color: inherit
      text-decoration: none

    .ribbon
      position: absolute
      font-size: 1.1em
      color: var(--brandgreen)

    .card-body

      .card-title
        color: var(--bs-body-color)
        margin-bottom: 15px

        & svg
          max-height: 60px

          path
            fill: var(--bs-body-color)

          &#mastodon

          &#mobilizon

          &#writefreely

          &#lemmy

          &#flohmarkt

            path
              fill: none
              stroke-width: 50
              stroke: var(--bs-body-color)
              stroke-opacity: 1;

          &#element

            rect
              fill: var(--bs-body-color)

            .inner
              fill: var(--bs-secondary-bg)

          &#cinny

            path
              fill: var(--bs-body-color)

              ~circle
                fill: var(--bs-body-color)

            circle
              fill: var(--bs-secondary-bg)

          &#phanpy

            path:nth-child(1)
              fill: none
              stroke: var(--bs-body-color)
              stroke-width: 3

          &#photon

          &#authentik

            rect
              fill: var(--bs-body-color)

          &#bookstack

            g
              stroke: var(--bs-secondary-bg)

          &#freshrss

            g
              stroke: var(--bs-body-color)

            circle
              fill: var(--bs-body-color)

            path
              fill: none

      .card-text
        display: none

    &:hover

      .card-body

        .card-subtitle
          display: none

        .card-text
          display: inherit

.heartbeat
  animation: animateHeart 2s infinite
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-color: var(--brandgreen)
  background-image: linear-gradient(to right bottom,var(--brandgreen) 20%,var(--brandorange) 60%)
  background-size: cover
  background-position: center center
