<div>
  {{ range .Site.Data.transactions.data }}
    {{ range .attributes.transactions }}
      {{ $date := .date }}
      {{ if eq (.date | time.Format "2006-01") (now.Format "2006-01") }}
        <div class="row me-0 row-cols-1 row-cols-md-2 row-cols-lg-4 mb-4">
          <div class="col">{{ .date | time.Format "02.01.2006" }}</div>
          <div class="col">{{ .description }}</div>
          {{ if eq .type "deposit" }}
            <div class="col text-nowrap">{{ .category_name }}
              {{ if .tags }}
                -
                {{ range $index, $tag := .tags }}
                  {{ if ne $index 0 }}, {{ end }}{{ $tag }}
                {{ end }}
              {{ end }}
            </div>
          {{ else if eq .type "withdrawal" }}
            <div class="col text-nowrap">{{ .destination_name }}
              {{ if .tags }}
                -
                {{ range $index, $tag := .tags }}
                  {{ if ne $index 0 }}, {{ end }}{{ $tag }}
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
          <div class="col text-end {{ if eq .type "deposit" }}text-success{{ else if eq .type "withdrawal" }}text-danger{{ else }}{{ end }}">{{ printf "%.2f" (float .amount) }} €</div>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
