<header class="fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ "/" | absLangURL}}">
        <img src="/assets/images/logo.png" alt="RollenspielMonster" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
        <ul class="navbar-nav">
          {{ range .Site.Menus.legal }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name | safeHTML }}</a>
          </li>
          {{ end }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-language"></i></a>
            <ul class="dropdown-menu border">
              {{ if .IsTranslated }} {{ range .AllTranslations }}
              <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
              {{ end }} {{ else }}
              <li><a class="dropdown-item" href="#">Translation missing</a></li>
              {{ end }}
            </ul>
          </li>
          <li class="nav-item dropdown theme">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class=""></i>
            </a>
            <ul class="dropdown-menu border">
              <li>
                <a id="theme_light" class="dropdown-item" href="#"><i class="fa-solid fa-sun"></i> {{ i18n "theme_light" }}</a>
              </li>
              <li>
                <a id="theme_dark" class="dropdown-item" href="#"><i class="fa-solid fa-moon"></i> {{ i18n "theme_dark" }}</a>
              </li>
              <li>
                <a id="theme_auto" class="dropdown-item" href="#"><i class="fa-solid fa-circle-half-stroke"></i> {{ i18n "theme_auto" }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
