{{ $themeToggle := resources.Get "js/themeToggle.js" }}
{{ $bgswitch := resources.Get "js/bgswitch.js" }}
{{ $footJS := slice $themeToggle $bgswitch | resources.Concat "assets/js/foot.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $footJS.RelPermalink }}" integrity="{{ $footJS.Data.Integrity }}"></script>

<script src="/assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>

{{ if eq .Slug "donate" }}
  <script src="/assets/vendor/chartjs/dist/chart.umd.js"></script>
  <script src="/assets/js/firefly.js"></script>
  <script src="/assets/vendor/qrcodejs/qrcode.min.js.js"></script>
  <script src="/assets/js/donate.js"></script>
{{ end }}